<!DOCTYPE html>
<html>
<body background="C:\Users\LENOVO\Downloads\THYROID DIDEASE.jpg">
<head>
	<title>Thyroid Disease Classifiaction </title>


</head>

<body>
	<header>
   <center>
		<font color="Black"><h1> Thyroid Disease Classifiaction</h1>
	</header>
</center>
<main>



		  <font color="black" size="5"> <p> The two types of Thyroid disorders are Hyperthyroidism and Hypothyroidism.When<br>
                  <br>
                   this disorder occurs in the body,they release certyain type of hormones into<br>
                  <br>
                   the body which imbalance the body's metabolism. Machine Learning plays a very<br>
                  <br>
                   deciding role in the disease prediction</p>

	</main>
<div>
       <button   onclick="window.location.href = 'home.html';">Home</button>
   <button   onclick="window.location.href = 'predict.html';">Predict</button>

</div>
</body>
</html>