<html>
<body background="C:\Users\LENOVO\Pictures\THYROID DIDEASE.jpg">
<head>
<body>
<h1>Thyroid  Disease Classification</h1>




  <form action="/submit.html" method="get">
  <label for="goiter">goiter:</label><br><br>
  <select id="goiter">
  <option value="male">male</option>
  <option value="female">female</option><br><br>
  </select><br><br>
  <label for="tumor">tumor:</label><br><br>
  <select id="tumor">
  <option value="male">male</option>
  <option value="female">female</option><br><br>
  </select><br><br>

  <label for="hypopituitary">hypopituitary:</label><br><br>
  <select id="hypopituitary">
  <option value="male">male</option>
  <option value="female">female</option><br><br>
  </select><br><br>

  <label for="psych">psych:</label><br><br>
  <select id="psych">
  <option value="male">male</option>
  <option value="female">female</option><br><br>
  </select><br><br>

  <label for="TSH">TSH:</label><br><br>
  <input type="text" id="TSH" name="TSH"><br><br>
  <label for="T3">T3:</label><br><br>
  <input type="text" id="T3" name="T3"><br><br>
  <label for="TT4">TT4:</label><br><br>
  <input type="text" id="TT4" name="TT4"><br><br>
  <label for="T4U">T4U:</label><br><br>
  <input type="text" id="T4U" name="T4U"><br><br>
  <label for="FTI">FTI:</label><br><br>
  <input type="text" id="FTI" name="FTI"><br><br>
  <label for="TBG">TBG:</label><br><br>
  <input type="text" id="TBG" name="TBG"><br><br>


</form>
<div>
   <button   onclick="window.location.href = 'submit.html';">Submit</button>
</div>
</body>
</head>
</html>