<!DOCTYPE html>
<html>
<body background="C:\Users\LENOVO\Downloads\THYROID DIDEASE.jpg">
<head>
	<title>Thyroid Disease Classifiaction </title>


</head>

<body>
	<header>
   <center>
		<font color="Black"><h1> Thyroid Disease Classifiaction</h1>
	</header>
</center>
<main>



		  <font color="black" size="5"> <p> Based on the given input, it predict disease for your body condition is ['miscellaneous'].</p>

	</main>
<div>
       <button   onclick="window.location.href = 'home.html';">Home</button>
   <button   onclick="window.location.href = 'predict.html';">Predict</button>

</div>
</body>
</html>